.reveal h2{
	margin-bottom: 0.75em;
}

.reveal ol,
.reveal ul {
	font-size: 40pt;
	line-height: 100%;
}

.reveal ul{
  list-style: none;
}

.reveal li {
	margin-bottom: 0.5em;
  padding-left: 0.2em;
}

.reveal p {
	font-size: 40pt;
}